@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v12/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk59E-_F.ttf) format('truetype');
}

:root{
  --clr-primary: hsl(218, 23%, 16%);
  --clr-secondary: hsl(217, 19%, 24%);
  --clr-third: hsl(150, 100%, 66%);
  --clr-gray: hsl(193, 38%, 86%);
}

* {
  box-sizing: inherit;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--clr-primary);
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  margin: 0 auto;
  max-width: 38rem;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-secondary);
  position: relative;
  border-radius: 1rem;
}
.card__id {
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--clr-third);
  letter-spacing: 3px;
  font-weight: 400;
}
.card__result {
  margin-top: 3rem;
  font-size: 28px;
  font-weight: 800;
  width: 70%;
  text-align: center;
  color: var(--clr-gray);
}
.card__divider {
 padding: 4rem;
}

.desktop{
  display: none;
}

@media screen and (min-width:768px) {
  .mobile {
    display: none;
  }
  .desktop{
    display: block;
  }
}

.card__btn {
  position: absolute;
  bottom: -7%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--clr-third);
  transition: box-shadow 250ms;
}

.card__btn:hover{
  box-shadow: 0 0 20px hsl(150, 100%, 66%);
}
